$amount-of-os: 6;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Lato;
	font-color: #222;
}

p {
	margin: 6px;
}

h1, h2 {
	font-family: Lato;
	font-weight: 300;
}

th img {
	max-height: 40px;
}

.enable-operating-systems img {
  padding-right: 20px;
  height: 40px;
  max-width: 150px;
}


// Technique from: https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css
table {
	width: 100%;
	margin:0;
	padding:0;
	border-collapse: collapse;
	border-spacing: 0;
	tr {
		padding: 5px;
		border-bottom: 1px solid #ddd;
	}
	th, td {
		padding: 10px;
		text-align: center;
		min-width: 400px;
		max-width: 400px;
		padding: 10px;
		text-align: center;
		width: 400px;
		overflow: scroll;
	}
	td {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		// References
		a {
		  float: right;
		  display: block;
		  text-transform: uppercase;
		  text-decoration: none;
		  color: rgb(157, 157, 157);
		  font-size: 8pt;
		}
	}
	th {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
	}
}
@media screen and (max-width: 600px) {

	table {
		border: 0;
		thead {
			display: none;
		}
		tr {
			margin-bottom: 10px;
			display: block;
			border-bottom: 2px solid #ddd;
		}
		th, td {
			width: auto;
			max-width: none;
		}
		td {
			display: block;
			text-align: right;
			font-size: 13px;
			border-bottom: 1px dotted #ccc;
		}
		td:last-child {
			border-bottom: 0;
		}

		td:before {
			content: attr(data-label);
			float: left;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
