<div class="enable-operating-systems">
	{{# operatingSystems:os }}
		{{# operatingSystems[os].enabled }}
			<img data-operating-system="{{os}}" src="images/{{ operatingSystems[os].logo }}.svg">
		{{ else }}
			<img data-operating-system="{{os}}" src="images/{{ operatingSystems[os].logo }}-fade.svg">
		{{/}}
	{{/}}
</div>

{{#sections:title}}
	<h2>{{ title }}</h2>
	<table>
		<thead>
			<tr>
				<th>task</th>
				{{# operatingSystems:os }}
					{{# operatingSystems[os].enabled }}
						<th><a href="{{ operatingSystems[os].docs }}"><img src="images/{{ operatingSystems[os].logo }}.svg"></a></th>
					{{/}}
				{{/}}
			</tr>
		</thead>
		{{#sections[title]:subtitle }}
			<tr>
			<th>{{ subtitle }}</th>
			{{# sections[title][subtitle]:os }}
				{{# operatingSystems[os].enabled }}
					<td data-label="{{ os }}">
						{{# sections[title][subtitle][os] }}
							{{{ . }}}
						{{/}}
					</td>
				{{/}}
			{{/}}
			</tr>
		{{/}}
	</table>
{{/}}
